services:
  mysql:
    image: mysql:8.4
    container_name: mysql-container
    environment:
      MYSQL_DATABASE: user_app
      MYSQL_USER: makarand
      MYSQL_PASSWORD: password
      MYSQL_ROOT_PASSWORD: rootpassword
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql

volumes:
  mysql_data: